body {
    background-color: #e0e0e8;
    background-color: #e0e8e8;
    color: black;
    max-width: 50rem;
    margin:auto;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 18px;
}

div.horizontal-block {
}

hr {
    width: 90%;
    text-align: center;
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

h1 {
    text-align: center;
}



div.about-me {
    width: 60%;
    float: left;
}

div.headshot-and-contact {
    width: 35%;
    float: right;
}

img.headshot-photo {
    margin-bottom: 7px;
    width: 100%;
}

ul.contact {
    font-size: 16px;
    list-style-type: none;
    padding-left: 30px;
}


img.costume {
    max-width: 600px;
}



.poem {
    margin-left: 28%;
    margin-right: auto;
    width: auto;
    font-size: 22px;
}
